html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,*::after,*::before {
    box-sizing: inherit;
}

body {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(25,12,37);
    background: linear-gradient(349deg, rgba(25,12,37,1) 0%, rgba(5,2,2,1) 100%);
}

a {
    text-decoration: none;
}