html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: var(--white);
  background: linear-gradient(156deg, rgb(0, 0, 0) 20%, rgb(21, 7, 44) 100%);
}

a {
  text-decoration: none;
}
