@use "../utils" as *;

.about-section {
  background-color: var(--white);
  
  display: flex;

  .about {
    padding: rem(49);

    &__header {
      font-size: rem(70);
      margin-top: rem(40);
      font-weight: 700;
      margin-bottom: rem(50);
      color: var(--second-lime);
    }

    &__container {
      margin-top: rem(10);
      display: flex;
      position: relative;
    }
    //add in future animations for both blocks
    &__bio {
      width: 50%;
      padding: rem(30) 0;
    }

    &__bio--left {
      margin-right: rem(50);
    }
    &__bio--right {
      background-image: url(/src/img/stairs2.svg);
      background-repeat: no-repeat;
      background-position-x: 160px;
      background-size: contain;

      width: 80%;
    }
    .about__subheader {
      color: var(--main-purple);
      font-size: rem(45);
      text-transform: lowercase;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: rem(10);
    }
    .about__text {
      font-size: rem(15);
      font-weight: 300;
      line-height: 25px;
      color: var(--main-purple);
    }

    .about__image {
      width: 50%;
    }

    .image__right {
      width: 30%;
      &--one {
        width: 250px;
        left: 70%;
        bottom: 25%;
        opacity: 0.5;
        position: absolute;
        transform: translateX(0px);
        animation: slide-left 10s linear infinite both;
      }
      &--two {
        width: 250px;
        left: 60%;
        bottom: 0%;
        position: absolute;
        transform: translateX(0px);
        animation: slide-right 10s linear infinite both;
      }
      &--three {
        width: 250px;
        left: 80%;
        top: -50%;
        position: absolute;
        transform: translateY(100px);
        animation: slide-up 10s linear infinite both;
      }
    }
    .image__left {
      min-width: 50%;
      display: flex;
      justify-content: center;
      &--one {
        padding: 10px;
        border-left: 2px solid var(--second-lime);
        border-right: 2px solid var(--second-lime);
        border-radius: 5px;
        width: 300px;
        object-fit: cover;
        opacity: .9;
        // transform: rotate(0);
        
        // animation: rotate 20s infinite linear both;
      }
    }
  }
}

@media (max-width: 757px) {
  .about-section {
    .wrapper {
      padding: rem(20);
    }
    .about__header {
      font-size: rem(43);
    }
    .about__bio--left {
      margin-right: 0;
    }
    .about .image__left {
      display: none;
    }
  }
  .about__bio {
    flex: 1;
  }

  .about__image {
    display: none;
  }
}
@media (min-width: 758px) {
  .about {
    overflow: hidden;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-250px);
  }
  100% {
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(300px);
  }
  100% {
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0px);
  }
}

