@use "../utils" as *;

.about-section {
  color: var(--bg-black);
  background-color: var(--white);
  margin-top: 300px;

  .about {
    padding: rem(20);
    display: flex;
    flex-direction: column;

    &__header {
      font-size: rem(70);
      margin-top: rem(50);
      font-weight: 700;
      margin-bottom: rem(50);
      text-transform: uppercase;
      color: var(--main-purple);
    }

    &__container {
      margin-top: rem(30);
      display: flex;
      position: relative;
    }
    &__bio {
      width: 50%;
    }

    .about__subheader {
      color: var(--main-purple);
      font-size: rem(45);
      text-transform: lowercase;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: rem(10);
    }
    .about__text {
      font-size: rem(15);
      color: var(--bg-black);
      font-weight: 300;
      line-height: 25px;
      color: var(--main-purple);
    }

    .about__image {
      width: 50%;
    }

    .image__right {
      width: 30%;
      &--one {
        width: 250px;
        left: 70%;
        bottom: 25%;
        opacity: 0.4;
        position: absolute;
        transform: translateX(0px);
        animation: slide-left 10s linear infinite both;
      }
      &--two {
        width: 250px;
        left: 60%;
        bottom: 0%;
        opacity: 0.8;
        position: absolute;
        transform: translateX(0px);
        animation: slide-right 10s linear infinite both;
      }
      &--three {
        width: 250px;
        left: 80%;
        top: -50%;
        opacity: 0.8;
        position: absolute;
        transform: translateY(100px);
        animation: slide-up 10s linear infinite both;
      }
    }
  }
}

@media (max-width: 757px) {
  .about-section {
    .about__header {
      font-size: rem(50);
    }
  }

  .about__bio {
    flex: 1;
  }

  .about__image {
    display: none;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-250px);
  }
  100% {
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(300px);
  }
  100% {
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0px);
  }
}
