@use "../utils" as *;

.about-section {
  color: var(--bg-black);
  background-color: var(--white);
  margin-top: 300px;

  .about {
    padding: rem(20);
    display: flex;
    flex-direction: column;

    &__header {
      font-size: rem(50);
      margin-top: rem(50);
      margin-bottom: rem(50);
      text-transform: uppercase;
      color: var(--main-purple);
    }

    &__container {
      margin-top: rem(30);
      display: flex;
      position: relative;
    }
    &__bio {
      width: 50%;
    }
      
      .about__subheader {
        color: var(--main-purple);
        font-size: rem(35);
        text-transform: lowercase;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: rem(10);
      }
      .about__text {
        font-size: rem(15);
        color: var(--bg-black);
        font-weight: 300;
        line-height: 20px;
        color: var(--main-purple);
      }

      .about__image {
        width: 50%;
        
      }

      .about__image--right {
        width: 30%;
        .image__right--one {
          width: 250px;
          left: 70%;
          bottom: 25%;
          opacity: .4;
          position: absolute;
        }
        .image__right--two {
          width: 250px;
          left: 60%;
          bottom: 0%;
          opacity: .8;
          position: absolute;
        }
      }
     
    
  }
}


@media (max-width: 757px) {
  .about__bio {
    flex: 1;
  }

  .about__image {
    display: none;
  }
}