@use "../utils" as *;


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    &__text, &__year {
        text-align: center;
        font-weight: 300;
    }

    &__text {
    display: inline-block;
    min-width: 30%;
    border-top: 1px solid var(--white);
    margin-top: rem(80);
    padding: rem(20) 10px 0 10px;

    }

    &__year {
        margin-top: 0;
    }
}

