@use "../utils" as *;


.footer {
    background-color: var(--main-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    &__text, &__year {
        text-align: center;
        font-weight: 300;
    }

    &__text {
    display: inline-block;
    min-width: 100%;
    border-top: 1px solid var(--white);
    margin-top: rem(25);
    padding: rem(20) 10px 0 10px;

    }

    &__year {
        margin-top: 0;
    }
}

@media (max-width: 757px) {
    .footer {
        display: none;
    }
}
