@use "../utils" as *;

.header {
  background-color: rgb(202, 186, 186);
}

.nav {
  //   height: 100%;
  display: flex;
  justify-content: space-between;
  

  &__image {
    width: 150px;
    height: 150px;
    padding: rem(20);
  }

  &__list {
    padding: rem(20);
    width: 600px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    
  }

  &__links {
    font-family: var(--font);
    font-weight: 300;
    text-decoration: none;
    color: #333;
    font-size: rem(27);
  }


  @media (max-width: 700px) {
    nav {
      align-items: flex-start;
    }

    &__image {
      margin: 0 auto;
    }

    &__list {
      display: none;
      margin: 0;
      
    }

    ul.show {
      display: flex;
      flex-direction: column;
      
    }
  }
}
