@use "../utils" as *;

.header {
  padding: rem(10);
  
}

.nav {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;

  &__logo {
    width: 100px;
    height: 100px;
    margin-top: rem(15);
    padding: rem(25);
    transform: rotate(0);
    animation: rotate 49s infinite forwards;
  }

  &__name {
    color: #fff;

    margin-right: auto;
    font-family: var(--font);
    font-size: rem(30);
    font-weight: 700;
    letter-spacing: rem(5);
    text-transform: uppercase;

    span {
      font-size: rem(50);
      color: var(--main-purple);
    }
  }

  &__list {
    padding: rem(20);
    width: 600px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(30);
    text-decoration: none;
  }

  &__links {
    cursor: pointer;
    text-transform: uppercase;
    font-family: var(--font);
    font-weight: 700;
    font-size: rem(25);
    a {
      color: #fff;
      position: relative;
      transition: .4s color;
    }
    a:focus, a:hover {
      outline: none;
      color: var(--main-purple);
    }
    a::after {
      content: "";
      position: absolute;
      background-color: #fff;
      height: 2px;
      bottom: 0;
      left: 0;
      width: 0%;
      transition: .4s all;
    }
    a:hover::after {
      width: 100%;
    }
  }
  &__links:last-of-type a {
    padding: rem(5);
    background-color: #fff;
    color: var(--bg-black);
    transition: .4s all;
  }
  &__links:last-of-type a:hover {
    background-color: var(--main-purple);
    color: white;
  }
}

  @media (min-width: 758px) and (max-width: 1000px) {
    .nav__logo {
      width: 80px;
      height: 80px;
      padding: rem(15);
    }

    .nav__name {
      font-size: rem(25);
      font-weight: 700;
      margin: auto;

      span {
        font-size: rem(40);
        color: var(--main-purple);
      }
    }
    .nav__links {
      font-size: rem(20);
    }
  }

  @media (max-width: 757px) {
    nav {
      padding: rem(10);
      align-items: flex-start;
    }

    .nav__logo {
      display: none;
    }

    .nav__name {
      font-size: rem(25);
      margin: auto;
      padding-bottom: rem(10);
      padding-left: rem(45);

      span {
        color: var(--main-purple);
        font-size: rem(50);
      }
    }

    .nav__list {
      width: 100%;
      height: 100vh;
      background-color: var(--bg-black);
      position: absolute;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      z-index: 99;
      transform: translateX(-1050px);
      transition: transform 0.4s ease-in-out;
    }
    .nav__list.active {
      transform: translateX(0);
    }

    ul.show {
      display: flex;
      flex-direction: column;
    }
  }


@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
