@use "../utils" as *;


.intro-section {
    
    height: 500px;
    border: 1px solid var(--white);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;

        

        
    

    
}
}