@use "../utils" as *;

.intro-section {
  background-color: var(--main-purple);
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 100px;
}
//testing bg-music for fun
.bg-music {
  top: rem(115);
  right: rem(45);
  left: auto;
  position: fixed;
  border-radius: 5px;
  border: 1px solid var(--white);
  background-color: rgba(59, 20, 122, 0.6);
  display: flex;
  height: fit-content;
  z-index: 1000;
  padding: rem(3);
  .play-button {
    font-size: rem(13);
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--second-lime);
    border: none;
    background-color: transparent;
    cursor: pointer;
    .music-on-off {
      color: var(--second-lime);
    }
  }
}
//
.hero {
  margin-top: rem(20);
  width: 50%;
  padding: rem(20);
  opacity: 0;
  animation: fade-hero 1s ease forwards;

  &__occupation {
    font-size: rem(25);
    line-height: rem(50);
    margin-top: rem(20);
    margin-bottom: 0;
    text-shadow: 1px 1px 1px hsl(312, 52%, 28%);
    &--dev {
      color: var(--second-lime);
      text-shadow: none;
    }
  }

  &__name {
    font-size: rem(72);
    font-weight: 700;
    margin-top: rem(10);
    margin-bottom: rem(0);
    text-shadow: 2px 2px 2px hsl(312, 52%, 28%);
    &--letter {
      color: var(--second-lime);
      text-shadow: none;
    }
  }

  &__description {
    font-size: rem(15);
    text-align: left;
    font-weight: 300;
    line-height: rem(30);
  }

  &__button {
    margin-top: rem(15);
    width: 180px;
    font-size: rem(30);
    padding: rem(8);
    color: white;
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
  }
  &__button:hover {
    color: var(--second-lime);
    border: 1px solid var(--second-lime);
  }
  &__button:focus {
    background-color: var(--second-lime);
  }
}

.hero-image {
  border: 0.115rem solid #fff;
  margin-top: 6.25rem;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(20);
  width: rem(240);
  height: rem(300);
  position: relative;
  opacity: 0;
  animation: fade-hero 1s 1s ease forwards;

  .hero-avatar {
    display: block;
    width: inherit;
    height: inherit;
    margin-right: rem(-90);
    margin-top: rem(105);
    background-image: url(../img/img2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
  }
}
@media (min-width: 671px) {
  .hero__button {
    display: block;
    margin-top: rem(45);
  }
  .bg-music {
    top: rem(120);
  }
}

@media (max-width: 670px) {
  header,
  .intro-section {
    background-color: var(--main-purple);
  }
  .bg-music {
    right: rem(-40);
    transform: rotate(90deg);
    top: rem(130);
  }
  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__occupation {
      font-size: rem(30);
    }

    &__name {
      width: 100%;
      font-size: rem(40);
    }
  }
  .hero-image {
    border-color: var(--second-lime);
    position: relative;
    padding: 0;
    margin: 30px;
    .hero-avatar {
      background-image: url(../img/img3.jpg);
      width: 100%;
      left: 20px;
      top: -81px;
      position: absolute;
    }
  }
}

@media (min-width: 1440px) {
  .intro-section {
    justify-content: center;
  }
}

@keyframes fade-hero {
  0% {
    filter: blur(10px);
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    filter: blur(5px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0px);
  }
}
