@use "../utils" as *;

.intro-section {
  color: white;
  display: flex;
}

.hero {
  margin-top: rem(60);
  width: 50%;
  padding: rem(20);
  opacity: 1;
  // animation: fade-hero 1.5s both;

  &__occupation {
    font-size: rem(25);
    line-height: rem(50);
    margin-top: rem(20);
    margin-bottom: 0;
    text-shadow: 2px 2px 2px hsl(312, 52%, 28%);
    &--dev {
      color: var(--main-purple);
      text-shadow: none;
    }
  }

  &__name {
    padding-left: rem(2);
    font-size: rem(72);
    font-weight: 700;
    margin-top: rem(10);
    margin-bottom: rem(0);
    text-shadow: 2px 2px 2px hsl(312, 52%, 28%);
    &--letter {
      color: var(--main-purple);
      text-shadow:none;
    }
  }

  &__description {
    text-align: left;
    padding: rem(3);
    font-weight: 300;
    line-height: rem(30);
    letter-spacing: rem(2);
  }

  &__button {
    margin-top: rem(15);
    width: 180px;
    font-size: rem(30);
    padding: rem(8);
    color: white;
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
    transform: translateY(0);
    animation: rubber 10s infinite both;
    transition: 0.4s all ease-out;
  }
  &__button:hover {
    color: var(--main-purple);
    border: 1px solid var(--main-purple);
  }
}


.hero-image {
  margin-top: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(20);
  width: 40%;
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
  // animation: fade-img 1.5s 1.6s both;

  img {
    overflow: hidden;
    width: 87%;
    object-fit: cover;
    height: 100%;
    border: 1px solid var(--white);
    transition: 2s all;
  }
  img:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 14px 0px hsla(313, 47%, 96%, 0.86);
  }
}
@media (min-width: 758px) {
  .hero__button {
    display: block;
    margin-top: rem(45);
  }
}

@media (max-width: 757px) {
  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__occupation {
      font-size: rem(44);
      }
  }

  .hero-image {
    display: none;
  }
}

@keyframes fade-hero {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-img {
  0% {
    transform: scale(0);
    opacity: 0;
    filter: blur(10px);
  }
  50% {
    opacity: 0.5;
    filter: blur(7px);
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes rubber {
  0%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(-8px);
  }
  50%{
    transform: translateY(8px);
  }
  100%{
    transform: translateY(0);
  }
}