@use "../utils" as *;

.projects-section {
  background-color: var(--main-purple);
  color: var(--white);

  .projects-header {
    text-transform: uppercase;
    position: relative;
    font-size: rem(70);
    margin-top: rem(40);
    padding-left: rem(49);
    text-align: left;
    text-shadow: 1px 1px 1px hsl(312, 52%, 28%);

    &::after {
      display: block;
      content: "";
      background-color: var(--white);
      box-shadow: 1px 1px 1px hsl(312, 52%, 28%);
      position: absolute;
      height: 3px;
      width: 50%;
      bottom: -12%;
      left: rem(53);
    }
  }
  

  .projects {
    display: grid;
    justify-items: center;
  }

  .cards-container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 103px;
    margin-bottom: rem(100);

    .card {
      border: 1px solid var(--main-purple);
      border-radius: 5px;
      // border-top: 4px solid var(--second-lime);
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 285px;
      height: 350px;
      overflow: hidden;
      box-shadow: 5px 5px 15px rgba(0,0,0,.7);

      &__button {
        display: block;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        padding: rem(5);
        position: absolute;
        z-index: 10;
        border: none;
        background: none;
        color: var(--main-purple);
        cursor: pointer;
      }

      &__button:hover~.card__info {
        clip-path: circle(120% at 50% 90%);
        
      }

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: hsl(0, 0%, 5%, .8);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: var(--white);
        clip-path: circle(0% at 52% 11.45%);
        transition: clip-path 0.6s;
      }
    }
    .one {
      background-image: url(/src/img/project1.jpg);
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  
  .projects {
    .cards-container {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(1, 1fr);
      gap: 100px;
    }
  }
}

@media (max-width: 757px) {
    .projects-section {
        .projects-header {
          font-size: rem(43);
          padding-left: rem(20);
          &::after {
            left: rem(22);
          }
        }
      }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .projects {
    .cards-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 100px;
    }
  }
}

@media (min-width: 1201px) and (max-width: 1557px) {
    .projects {
        .cards-container {
          grid-template-columns: repeat(3, 1fr);
          
          
        }
      }    
}