@use '../utils' as *;

.projects-section {
  background-color: rgba(64, 60, 98, 1);
  background-image: linear-gradient(
    360deg,
    rgba(64, 60, 98, 1) 0%,
    rgba(73, 60, 154, 1) 94%
  );
  position: relative;
  width: 100%;

  .projects-header {
    padding-top: rem(5);
    padding-left: rem(49);
    h2 {
      color: var(--white);
      position: relative;
      font-size: rem(60);
      margin-top: rem(69);
      margin-bottom: rem(30);
      text-align: left;
    }
    p {
      margin: 0;
      padding: rem(5) 0;
      text-transform: none;
      font-size: rem(15);
      font-weight: 300;
      line-height: 25px;

      a {
        color: var(--second-lime);
      }
    }
  }
  .projects-bg-image {
    opacity: 0.3;
    top: 2%;
    position: absolute;
    left: 75%;
    transform: scale(0.9);
    width: 250px;
    img {
      transform: rotate(0);
      animation: gears-rotate 20s linear infinite both;
      transform: translateX(-50%);
    }
  }

  .projects {
    margin-top: rem(20);
    display: grid;
    justify-items: center;
    .gear-image {
      opacity: 0.2;
      transform: rotate(0);
      animation: gears-rotate 20s linear infinite both;
      position: absolute;
      top: 1%;
      width: 240px;
    }
  }

  .cards-container {
    border-top: 2px solid var(--white);
    padding-top: rem(30);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: rem(90);
    margin-top: rem(40);
    margin-bottom: rem(100);

    .card {
      border-radius: 5px;
      border-top: 4px solid var(--second-lime);
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      width: 285px;
      height: 350px;
      opacity: 1;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
      transform: scale(1);
      transition: 0.4s linear;

      &__button {
        display: block;
        left: 55%;
        top: 82%;
        width: 150px;
        padding: rem(20);
        text-align: center;
        border-radius: 10px;
        position: absolute;
        z-index: 10;
        border: 1px solid var(--white);
        background: var(--second-lime);
        color: var(--main-purple);
        font-size: rem(20);
        font-weight: 700;
        cursor: pointer;
        opacity: 1;
        transform: translateX(
          0
        );
         //beacuse .hide class is breaking clip path effect on button
        .fa-circle-info {
          position: relative;
          top: -5px;
          left: -6px;
        }

        &::before {
          position: absolute;
          top: -1px;
          left: 0;
          content: '';
          width: 100%;
          height: 100%;
          border: 2px solid var(--second-lime);
          border-radius: 10px;
          animation: pulse 1s infinite;
        }
      }

      &__button:hover ~ .card__info {
        clip-path: circle(120% at 50% 100%);
      }
      &__button:hover {
        opacity: 0;
      }

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--white);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: var(--white);
        clip-path: circle(0 at 87.4% 92.4%);
        transition: clip-path 0.6s;

        .card-title {
          text-align: center;
          font-size: rem(27);
          font-weight: 500;
          color: var(--main-purple);
          padding: rem(10);
          width: 100%;
        }

        .card-text {
          color: var(--main-purple);
          text-align: center;
          padding: 0 rem(10);
          font-weight: 300;
          font-size: rem(15);
          height: 30%;
          background-image: url(../img/dots3.svg);
          background-repeat: no-repeat;
          background-position: 130px 80px;
        }
      }
    }
    .card:hover {
      transform: scale(1.1);
      opacity: 1;
    }
    .one {
      background-image: url(../img/project1.jpg);
      text-align: center;
    }

    .two {
      background-image: url(../img/project3.jpg);
      background-size: cover;
      background-position-y: 0px;
    }

    .three {
      background-image: url(../img/project4.jpg);
      background-position-y: 0px;
    }

    .four {
      background-image: url(../img/insta-site.jpg);
      background-position-y: 0px;
    }

    .five {
      background-image: url(../img/project8_a.jpg);
      background-position-y: 0px;
    }
    .six {
      background-image: url(../img/project7.png);
      background-position-y: 0px;
    }
    .seven {
      background-image: url(../img/dreams_site.jpg);
      background-position-y: 0px;
    }

    .card-link {
      padding-top: rem(28);
      color: var(--white);
      text-align: center;
      text-decoration: overline;
      display: block;
      font-size: rem(22);
      font-weight: 300;
    }
    .card-link:focus {
      color: var(--second-lime);
    }
  }
  .card-wrapper:nth-child(1) {
    transition-delay: 0.2s;
  }
  .card-wrapper:nth-child(2) {
    transition-delay: 0.3s;
  }
  .card-wrapper:nth-child(3) {
    transition-delay: 0.4s;
  }
  .card-wrapper:nth-child(4) {
    transition-delay: 0.5s;
  }
  .card-wrapper:nth-child(5) {
    transition-delay: 0.6s;
  }
}

@media (max-width: 600px) {
  .projects {
    .cards-container {
      grid-template-columns: repeat(1, 1fr);
      gap: 100px;
    }
  }
}

@media (max-width: 757px) {
  .projects-section {
    .projects-header {
      padding-left: 1.063rem;
      h2 {
        font-size: rem(43);
      }
    }
  }
}
@media (max-width: 973px) {
  .projects-section {
    .projects-bg-image {
      display: none;
    }
  }
}
@media (min-width: 974px) {
  .projects-section .projects .gear-image {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .projects-section {
    .projects-bg-image {
      top: 2%;
    }
  }
  .projects {
    .cards-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 100px;
    }
  }
}

@media (min-width: 1201px) and (max-width: 1557px) {
  .projects-section {
    .projects-bg-image {
      top: 4%;
    }
  }
  .projects {
    .cards-container {
      grid-template-columns: repeat(3, 1fr);
      .four {
        grid-column-start: 2;
      }
    }
  }
}

@media (min-width: 1440px) {
  .projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
//animations

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes gears-rotate {
  0% {
    transform: rotate(0);
    transform-origin: center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}
