@use "../utils" as *;

.skills-section {
  position: relative;
  padding-top: rem(20);
  padding-bottom: rem(80);
  background-color: var(--white);
}

.skills-header {
  position: relative;
  text-align: center;
  color: var(--second-lime);
  font-size: rem(60);
  margin-bottom: rem(30);
}
.skills-header span {
  position: absolute;
  content: '';
  opacity: .4;
  height: 35px;
  margin-left: rem(-383);
  margin-top: rem(18);
  border: 1px solid var(--main-purple);
}
.skills-header::before{
  font-family: 'Shadows Into Light', cursive;
  position: absolute;
  content: '<h2>';
  opacity: .4;
  color: var(--main-purple);
  font-size: rem(15);
  margin-left: rem(-30);
  margin-top: rem(-10);
}
.skills-header::after{
  font-family: 'Shadows Into Light', cursive;
  position: absolute;
  content: '</h2>';
  opacity: .4;
  color: var(--main-purple);
  font-size: rem(15);
  margin-top: rem(59);
  margin-left: rem(-399);
}

.skills-text-one {
  padding-top: rem(30);
  color: var(--main-purple);
  text-align: center;
  font-size: rem(15);
  font-style: italic;
  font-weight: 700;
}
.skills-text-two {
  margin-top: rem(-10);
  color: var(--main-purple);
  text-align: center;
  font-size: rem(15);
  font-weight: 300;
}

.skills-container {
  position: relative;
  margin: auto;
  margin-top: rem(55);
  margin-bottom: rem(25);
  display: flex;
  padding: rem(40);
  background-color: var(--cards-bg);
  padding: rem;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
}

.skills-container::before {
  font-size: rem(15);
  font-family: 'Shadows Into Light', cursive;
  opacity: .4;
  top: 0;
  left: 0;
  color: var(--main-purple);
  margin-left: rem(-45);
  margin-top: rem(-20);
  content: '<div>';
  width: 20px;
  height: 10px;
  position: absolute
}
.skills-container::after {
  font-size: rem(15);
  font-family: 'Shadows Into Light', cursive;
  color: var(--main-purple);
  opacity: .4;
  bottom: 0;
  right: 0;
  margin-bottom: rem(-5);
  margin-right: rem(-35);
  content: '</div>';
  width: 20px;
  height: 10px;
  position: absolute
}
.skill {
  box-shadow: 1px 3px 5px rgba(86, 49, 121, 0.7);
  margin: rem(13);
  padding: rem(28);
  text-align: center;
  background-color: var(--white);
  color: var(--main-purple);
  

  &__name {
    margin-top: rem(6);
    font-weight: 300;
    font-size: rem(25);
  }

  &__bar progress {

    margin-top: rem(6);
    background-color: var(--white);
    border: 3px solid var(--main-purple);
  }

  &__bar progress::-moz-progress-bar{
    background-color: var(--main-purple);
  }
  // for chrome browers - from css tricks
  progress[value]::-webkit-progress-bar {
    background-color: var(--main);
  }
  progress[value]::-webkit-progress-value {
      background-color: var(--main-purple);
  }
}

.skill:nth-child(1) {
  transition-delay: .2s;
}
.skill:nth-child(2) {
  transition-delay: .3s;
}
.skill:nth-child(3) {
  transition-delay: .4s;
}
.skill:nth-child(4) {
  transition-delay: .5s;
}
.skill:nth-child(5) {
  transition-delay: .6s;
}

.loading-dots {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 80px;

  p {
    text-align: center;
    top: -15px;
    width: 300px;
    font-size: rem(15);
    font-weight: 700;
    position: absolute;
    color: var(--second-lime);
    animation: blinking .6s infinite;
  }
}
.loading-dots > div {
  background: var(--second-lime);
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading-dots div:nth-child(1) {
  left: 8px;
  animation: loading-dots1 0.6s infinite;
}
.loading-dots div:nth-child(2) {
  left: 8px;
  animation: loading-dots2 0.6s infinite;
}
.loading-dots div:nth-child(3) {
  left: 32px;
  animation: loading-dots2 0.6s infinite;
}
.loading-dots div:nth-child(4) {
  left: 56px;
  animation: loading-dots3 0.6s infinite;
}

@media (max-width: 757px) {
  .skills-header {
    padding-left: 1.063rem;
    font-size: rem(43);
  }
  
  .skills-container {
    flex-direction: column;
    background-color: inherit;
    padding: 0;
  }

  .skills-container::before {
    margin-left: rem(-20);
  }

  .skills-container::after {
    margin-right: rem(-15);
    margin-bottom: rem(5);
  }

  .skill {
    width: 90%;
    display: flex;
    background-color: var(--cards-bg);
    flex-direction: column;
    text-align: center;
    margin-bottom: rem(20);
    
  }
  .skills-header::after{
    margin-top: rem(40);
    margin-left: rem(-296);
  }
  .skills-header span {
    height: 22px;
    margin-left: rem(-280);
    margin-top: rem(17);
    border: 1px solid var(--main-purple);
  }
}


@keyframes loading-dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading-dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading-dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}