@use '../utils' as *;

.skills-section {
  position: relative;
  padding-top: rem(20);
  padding-bottom: rem(80);
  background-color: var(--white);
}

.skills-header {
  position: relative;
  text-align: center;
  color: var(--second-lime);
  font-size: rem(60);
  margin-bottom: rem(30);
}

.skills-text-one {
  padding-top: rem(30);
  color: var(--main-purple);
  text-align: center;
  font-size: rem(15);
  font-style: italic;
  font-weight: 700;
}
.skills-text-two {
  margin-top: rem(-10);
  color: var(--main-purple);
  text-align: center;
  font-size: rem(15);
  font-weight: 300;
}

.skills-container {
  position: relative;
  margin: auto;
  margin-top: rem(10);
  margin-bottom: rem(25);
  display: flex;
  padding: rem(40);
  background-color: var(--cards-bg);
  padding: rem;
  justify-content: center;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  width: 220px;
  margin: rem(13);
  padding: rem(28);
  text-align: center;
  border-radius: 8px;
  background-color: var(--cards-bg);
  row-gap: 20px;
  flex-direction: column;
  align-items: center;

  &__progress {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: conic-gradient(hsl(248, 44%, 42%) 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;

    &-value {
      position: relative;
      font-size: 40px;
      font-weight: 600;
      color: hsl(248, 44%, 42%);
    }
  }

  &__progress::before {
    content: "";
    position: absolute;
    height: 133px;
    width: 133px;
    border-radius: 50%;
    background-color: #fff;
  }

  &__text {
    font-size: 30px;
    font-weight: 500;
    color: hsl(248, 44%, 42%);
  }
}

.skill:nth-child(1) {
  transition-delay: 0.2s;
}
.skill:nth-child(2) {
  transition-delay: 0.3s;
}
.skill:nth-child(3) {
  transition-delay: 0.4s;
}
.skill:nth-child(4) {
  transition-delay: 0.5s;
}
.skill:nth-child(5) {
  transition-delay: 0.6s;
}
.skill:nth-child(6) {
  transition-delay: 0.7s;
}
.skill:nth-child(7) {
  transition-delay: 0.8s;
}
.skill:nth-child(8) {
  transition-delay: 0.9s;
}
.loading-dots {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 80px;

  .loading-text {
    text-align: center;
    top: -15px;
    width: 300px;
    font-size: rem(20);
    font-weight: 700;
    position: absolute;
    color: var(--second-lime);
    animation: blinking 0.9s infinite;
  }
}
.loading-dots > div {
  background: var(--second-lime);
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading-dots div:nth-child(1) {
  left: 8px;
  animation: loading-dots1 0.9s infinite;
}
.loading-dots div:nth-child(2) {
  left: 8px;
  animation: loading-dots2 0.9s infinite;
}
.loading-dots div:nth-child(3) {
  left: 32px;
  animation: loading-dots2 0.9s infinite;
}
.loading-dots div:nth-child(4) {
  left: 56px;
  animation: loading-dots3 0.9s infinite;
}

@media (max-width: 757px) {
  .skills-header {
    padding-left: 1.063rem;
    font-size: rem(43);
  }

  .skills-container {
    flex-direction: column;
    padding: 0;
  }

  .skill {
    background-color: var(--cards-bg);
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: rem(-10);
  }
}

@keyframes loading-dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading-dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading-dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
